@model IEnumerable<personapi_dotnet.Models.Entities.Persona>

@{
 ViewData["Title"] = "Personas";
}

<h1>Personas</h1>
<p>
 <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
 <thead>
 <tr>
 <th>CC</th>
 <th>Nombre</th>
 <th>Apellido</th>
 <th>Genero</th>
 <th>Edad</th>
 <th></th>
 </tr>
 </thead>
 <tbody>
 @foreach (var item in Model)
 {
 <tr>
 <td>@item.Cc</td>
 <td>@item.Nombre</td>
 <td>@item.Apellido</td>
 <td>@item.Genero</td>
 <td>@item.Edad</td>
 <td>
 <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Cc">Details</a>
 <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Cc">Edit</a>
 <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Cc">Delete</a>
 </td>
 </tr>
 }
 </tbody>
</table>
